// $background: #020711;
// $white: #fff;
// $second: #a4a6b3;
// $accent: #fec204;
// $dash: #2a303c;
// $border: #e3eaf4;

$background: #fff;
$white: #fff;
$border: #e3eaf4;
$second: #141736;
$accent: #fec204;
$dash: #141736;
